* {
    padding: 0px; 
    margin: 0px;
}

body {
    background: linear-gradient(to top left, #66ccff 0%, #66ffcc 100%);
    background-attachment: fixed;
}

html, 
.fullscreen {
    display: flex;
    height: 100%;
    width: 100%;
}

.container {
    background: #ffffff;
    margin:auto;
    text-align: center;
    width: 230px;
    height: 200px;
}